.sentiment-bar {
    stroke: black;
    stroke-width: 0.3;
}

.topic-grid {
    stroke: black;
    stroke-width: 0.3;
}

.scroll-selector {
	stroke: black;
	stroke-opacity: .1;
	fill: grey;
	fill-opacity: .5;
}