/**************** Layout ****************/

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#vis-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
}

#filter-row {
    flex: 1;
}

#filter-container {
    border: 1px solid blue;
    height: 100%;
    width: 100%;
}

#vis-row {
    flex: 6;
    display: flex;
    flex-direction: row;
}


.vis-col {
    border: 1px solid red;
}

#metadata-container {
    flex: 2;
}

#topics-container {
    flex: 5;
}

#analysis-container {
    flex: 5;
}

#content-container {
    flex: 4;
}

.container-label {
    background: steelblue;
    padding: 2px;
    font-size: 2em;
    text-align: center;
    color: #fff;
    border-radius: 0.5em; /* TO DO: Make this absolute? */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5%;
}


/**************** Analysis View ****************/
/*#anlysis-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
*/
/*#analysis-view {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}*/

.sentiment-bar {
    stroke: black;
    stroke-width: 0.3;
}

.topic-grid {
    stroke: black;
    stroke-width: 0.3;
}

.scroll-selector {
    stroke: black;
    stroke-opacity: .1;
    fill: grey;
    fill-opacity: .5;
}

g {
    pointer-events: bounding-box;
}


/**************** Content View ****************/

/*#content-container {
    display: flex;
    flex-direction: column;
}*/

#content-view {
    
    position: absolute;
    height: 75%;
    width: 23%;
    overflow-y: scroll;
    margin: 1em 1em 0 1em;
    border: 1px solid black;
}

ol {
    list-style-type: none;
    padding: 0 1em 0;
}

.msg-list {
    margin: .5em 0;
    border: 1px solid black;
}

.msg-list:hover {
    border: 3px solid black;
}


.msg-list-item {
    margin: .25em 0;
}